body {
	width:100%;
	height:100%; 
	background: url('../img/body_bg.png') repeat;
	margin:0;
	padding:0;
	color:#fff;
}
.clearfloat{
	clear:both;
	height:0;
	font-size:1px;
	line-height:0px
}
@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League-gothic/league_gothic-webfont.eot');
    src: url('../fonts/League-gothic/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League-gothic/league_gothic-webfont.woff') format('woff'),
         url('../fonts/League-gothic/league_gothic-webfont.ttf') format('truetype'),
         url('../fonts/League-gothic/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: "DroidSerif";
	src: url('../fonts/Droid-Serif/DroidSerif-Regular.ttf') format("truetype");
}
@font-face {
	font-family: "Helvetica";
	src: url('../fonts/Helvetica/hlbc__.PFB');
}
@font-face {
	font-family: "Journal";
	src: url('../fonts/Journal/journal.ttf') format("truetype");
}
.dro {
	font-family:DroidSerif;
}
.hel {
	font-family:Helvetica;
}
.jou {
	font-family:Journal;
}
.league {
	font-family:LeagueGothicRegular;
}
#head {
	margin: 0; 
	padding: 0; 
	width: 100%; 
	height: 64px; 
	background: url('../img/black_bg_head.png') repeat;
}
#head_nav {
	margin:0 auto;
	width:1000px;
	height:64px;
}
#body {
	margin:0;
	padding:0;
	width:100%;
	height:100%px;
	margin-top:-6px;
}
.head-icon {
	width:50px;
	height:30px;
	background: url('../img/base_sprite.png') no-repeat;
	background-position:-140px -242px;
	float:left;
}
.logo {
	font-family:Journal;
	font-size:38px;
	width:150px;
	height:50px;
	float:left;
}
.head-menu {
	width:750px;
	height:50px;
	float:left;
}
.head-menu ul {
	float:right;
}

.head-menu li {
	float:left;
	margin:16px;
}
.head-menu ul a {
	color:#fff;
	text-decoration:none;
	font-family: Tahoma;
	font-size:12px;
	font-weight: 700;
	
}
.nav-current {
	color: #B0EBFF !important;
	background-color: #051014;
	border-bottom: 1px solid #1C2C30;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	padding: 8px;
	moz-box-shadow: inset 0 0 5px 5px #05100D;
	-webkit-box-shadow: inset 0 0 5px 5px ##05100D;
	box-shadow: inset 0 0 4px 4px #05100D;
}

.head-menu li:hover {
	/*margin-top:2px;*/	
}
#body-top {
	width:100%;
	height:249px;
	background: url('../img/body_blur_bg.png') repeat;
    position:absolute;
	z-index:-1;
	
}
#body-top-little {
	width:100%;
	height:40px;
	background: url('../img/body_blur_bg.png') repeat;
    position:absolute;	
	z-index:-1;
}
.top-border {
	width:100%;
	height:3px;
	background: url('../img/unique_border.jpg') repeat;
	position:absolute;
}
.top-border-bg {
	position:relative;
	width:100%;
	height:40px;
}
#main {
	margin:0 auto;
	width:980px;
	padding-top:10px;
	min-height:940px;
	padding-bottom:20px;
}

#footer {
	margin:0;
	padding:0;
	width:100%;
	height:380px;
	background: url('../img/footer_rp.png') repeat;
}
.footer_nav {
	width:980px;
	padding-top:10px;
}
.footer_nav1 {
	width:200px;
	float:left;
	padding:0px 20px 20px 20px;
}
.footer_nav2 {
	width:200px;
	float:left;
	padding:0px 20px 20px 20px;
}
.hel li {
	list-style-type:circle;
	margin:5px 0px 0px 15px;
	line-height:25px;
}
.bg-li {
	background: url('../img/base_sprite2.png') no-repeat;
	background-position:-590px -156px;
	width:145px;
	height:1px;
	list-style-type:none !important;
}
.footer_nav3 {
	width:200px;
	float:left;
	padding:0px 20px 20px 20px;
}
.footer_nav4 {
	width:200px;
	float:left;
	padding:0px 20px 20px 20px;
}
.footer_nav a {
	float:left;
	width:40px;
	padding:10px 0px;
	text-indent:-9999px;
}
.footer_social {
	background: url('../img/base_sprite2.png') no-repeat;
	background-position:-91px -340px;
	width:200px;
	height:40px;
}
.long-footer-brdr {
	background: url('../img/base_sprite2.png') no-repeat;
	background-position:-91px -411px;
	width:980px;
	height:40px;
}
.slider {
	height:410px;
	background: url('../img/slider/resim.jpg') no-repeat;
}
.center-nav {
	width:980px;
	height:105px;
	background: url('../img/base_sprite.png') no-repeat;
	background-position:-20px -12px;
	margin:10px 0px;
}
.center-up {
	padding-bottom:20px;
}
.center-down {
	padding-bottom:10px;
}
.center-down h1 {
	font-family:journal;
	font-size:40px;
	color:#383838;
	margin-left:55px;
}
.center-nav-text {
	width:355px;
	float:left;
	color:#4f7787;
	font-family:DroidSerif;
	padding:10px;	
}
.center-nav-button {
	width:230px;
	height:50px;
	float:left;
	background: url('../img/base_sprite.png') no-repeat;
	background-position:-790px -128px;
	margin:25px 0px;
}
.center-nav-button a{
	text-decoration:none;
	color:#fff;
	padding:8px 36px;
	font-size:22px;
	font-family:DroidSerif;
	line-height:42px;
}
.contact-now-left {
	float:left;
	height:130px;	
	width:490px;	
}
.contact-now-right {
	float:left;
	height:130px;
	width:490px;
}
.rozet {
	background: url('../img/base_sprite.png') no-repeat;
	background-position:-90px -277px;	
	width:50px;
	height:50px;
	position:absolute;
}
.ct-click {
	background: url('../img/base_sprite.png') no-repeat;
	background-position:-90px -230px;	
	width:50px;
	height:50px;
	float:left;
	margin-left:100px;
}
.ct-button {
	background: url('../img/base_sprite.png') no-repeat;
	background-position:-875px -254px;	
	width:125px;
	height:50px;
	float:left;
	margin-left:30px;

}
.ct-button a {
	color:#6e4f0c;
	padding:0px 13px 6px;
	text-decoration:none;
	line-height:26px;
	text-align:center;
}
.twitter-text {
	color:#B9B9B9;
	text-align:right;
	font-size:14px;
	padding:25px 75px;
}
.parantez {
	float:right;
	width:10px;
	height:100px;
	background: url('../img/base_sprite2.png') no-repeat;
	background-position:-105px -122px;
}
.twitter-icon {
	float:right;
	width:60px;
	height:100px;
	background: url('../img/base_sprite2.png') no-repeat;
	background-position:-24px -122px;
}
.pagelist {
	width:326px;
	height:240px;
	float:left;
}
.pagelist h3 {font-family:DroidSerif;font-size:22px;text-align:center;color:#383838;}
.pagelist p {font-family:Helvetica;font-size:14px;color:#b9b9b9;text-align:center;padding:10px 10px;}
.mr0 {margin:0 auto;}
.icona {
	width:35px;
	height:42px;
	background: url('../img/base_sprite.png') no-repeat;
	background-position:-40px -275px;
}
.iconb {
	width:35px;
	height:42px;
	background: url('../img/base_sprite.png') no-repeat;
	background-position:-41px -323px;
}
.iconc {
	width:35px;
	height:42px;
	background: url('../img/base_sprite.png') no-repeat;
	background-position:-41px -230px;
}
.little-border {
	margin-top:15px;
	width:170px;
	height:20px;
	background: url('../img/base_sprite.png') no-repeat;
	background-position:-370px -200px;
}
.long-border {
	width:625px;
	height:7px;
	background: url('../img/base_sprite.png') no-repeat;
	background-position:-135px -153px;
}
.pagelist-button {
	width:125px;
	height:30px;
	background: url('../img/base_sprite.png') no-repeat;
	background-position:-875px -204px;
	padding-top:5px;
	text-align:center;
}
.pagelist-button a {
	padding:0px 14px 10px;
	color:#ff4d2a;
	text-decoration:none;
}
.dash1 {
	width:250px;
	height:250px;
	background: url('../img/rounder1.jpg') repeat;
	border-radius:200px;
	border:5px solid #fff;
	float:left;
	text-align:center;
	opacity:0.8;
	margin-left:130px;
}
.dash2 {
	width:250px;
	height:250px;
	background: url('../img/rounder2.jpg') repeat;
	border-radius:200px;
	border:5px solid #fff;
	float:left;
	text-align:center;
	opacity:0.8;
	margin-left:-30px;
}
.dash3 {
	width:250px;
	height:250px;
	background: url('../img/cbg.gif') repeat;
	border-radius:200px;
	border:5px solid #fff;
	float:left;
	text-align:center;
	opacity:0.8;
	margin-left:-30px;
}
.htext {
	margin-top:40px !important;
}
.dash1 h1{
	color:#09202c;
	font-size:50px;
	margin-top:95px;
	font-family:LeagueGothicRegular;
	font-weight:bold;
}
.dash1 a {
	color:#09202c;
	text-decoration:none;
}
.dash2 h1{
	color:#09202c;
	font-size:50px;
	margin-top:95px;
	font-family:LeagueGothicRegular;
	font-weight:bold;
}
.dash2 a {
	color:#09202c;
	text-decoration:none;
}
.dash3 h1{
	color:#09202c;
	font-size:50px;
	margin-top:95px;
	font-family:LeagueGothicRegular;
	font-weight:bold;
}
.dash3 a {
	color:#09202c;
	text-decoration:none;
}
.hakkimizda-detay h2{
	font-family:LeagueGothicRegular;
	color:#09202c;
	font-size:26px;
	line-height:80px;
}
.hakkimizda-detay p{
	font-family:DroidSerif;
	color:#09202c;
	font-size:18px;
}
.map {
	width:75px;
	height:75px;
	border-radius:100px;
	border:3px solid #fff;
	background: url('../img/map_bg.jpg') no-repeat;
	position:relative;
	margin-top:30px;
}
.is-here {
	width:75px;
	height:75px;
	background: url('../img/base_sprite2.png') no-repeat;
	background-position:-766px -315px;
	position:absolute;
	margin:-20px 0px 0px 60px;
}
.sip-main {
	height:310px;
	background-color:black;
	border-radius:10px;
}
.sip-window {
	float:left;
	width:195px;
	background-color:red;
	height:100%;
}
