{% load i18n %}<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	  <title>basehtml</title>
	  <link rel="stylesheet" href="{{ STATIC_URL }}css/reset-min.css" type="text/css" />
	  <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" />
	  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
	  <script type="text/javascript" src="{{ STATIC_URL }}js/slides.jquery.js"></script>
	  <script type="text/javascript" src="{{ STATIC_URL }}js/basehtml.js"></script>
		{% block extra_head %}
		{% endblock %}
  </head>
  <body>
  	  <div id="head">
	  	  <div id="head_nav">
			  <a href="{% url index %}"><div class="head-icon"></div></a>
			  <div class="logo">
				  <h3>&lt;BaseHtml&gt;</h3>
			  </div>
			  <div class="head-menu">
				  {% block head-navigation %}
				      <ul>
				      	<li><a class="nav-current" href="{% url index %}">{% trans "Ana Sayfa" %}</a></li>
				      	<li><a href="{% url hakkimizda %}">{% trans "Hakkimizda" %}</a></li>
                        <li><a href="{% url siparis %}">Siparis</a></li>
						<li><a class="nav-current" href="{% url iletisim %}">İletisim</a></li>
				      </ul>
				      
				  {% endblock %}
			  </div>
		  </div>
      </div>
	  <div id="body">
		  {% block body-top %}
			<div id="body-top-little"></div>
			<div class="top-border-bg"></div>
			<div class="top-border"></div>
		  {% endblock %}
		  <div id="main">
		  {% block main %}
		  {% endblock %}
          </div>
	  </div>
	  <div id="footer">
		  <div class="footer_nav mr0">
		  	  <div class="footer_nav1">
				  <ul class="dro">
				  	<li>Our services</li>
				  </ul>
				  <ul class="hel">
				  	<li>Web development</li>
					<li class="bg-li"></li>
				  	<li>Web development2</li>
					<li class="bg-li"></li>
					<li>Web development3</li>
					<li class="bg-li"></li>
					<li>Web development4</li>
					<li class="bg-li"></li>
					<li>Web development5</li>
					<li class="bg-li"></li>
					<li>Web development6</li>
					<li class="bg-li"></li>
				  </ul>
			  </div>
			  <div class="footer_nav2">
				  <ul class="dro">
				  	<li>Our services</li>
				  </ul>
				  <ul class="hel">
				  	<li>Web development</li>
					<li class="bg-li"></li>
				  	<li>Web development2</li>
					<li class="bg-li"></li>
					<li>Web development3</li>
					<li class="bg-li"></li>
					<li>Web development4</li>
					<li class="bg-li"></li>
					<li>Web development5</li>
					<li class="bg-li"></li>
				  </ul>
				  
			  </div>
			  <div class="footer_nav3">
				  <ul class="dro">
				  	<li>Our services</li>
				  </ul>
				  <ul class="hel">
				  	<li>Web development</li>
					<li class="bg-li"></li>
				  	<li>Web development2</li>
					<li class="bg-li"></li>
					<li>Web development3</li>
					<li class="bg-li"></li>
					<li>Web development4</li>
					<li class="bg-li"></li>
				  </ul>
				  
			  </div>
			  <div class="footer_nav4">
				  <ul class="dro">
				  	<li>Our services</li>
				  </ul>
				  <ul class="hel">
				  	<li>Web development</li>
					<li class="bg-li"></li>
				  	<li>Web development2</li>
					<li class="bg-li"></li>
					<li>Web development3</li>
					<li class="bg-li"></li>
				  </ul>
			  <div class="map"><div class="is-here"></div></div>
			  
			  </div>
		  </div>
		  <br class="clearfloat" />
		  <div class="long-footer-brdr mr0"></div>
		  <div class="footer_social mr0"></div>
	  </div>
  </body>
</html>
