<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	  <title>basehtml</title>
	  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
	  <link rel="stylesheet" href="{{ STATIC_URL }}css/reset-min.css" type="text/css" />
	  <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" />
  </head>
  <body>
  	  <div id="head">
	  	  <div id="head_nav">
			  <a href="{% url index %}"><div class="head-icon"></div></a>
			  <div class="logo">
				  <h3>&lt;BaseHtml&gt;</h3>
			  </div>
			  <div class="head-menu">
				  {% block head-navigation %}
				      <ul>
				      	<li><a href="{% url index %}">Ana Sayfa</a></li>
				      	<li><a href="{% url hakkimizda %}">Hakkimizda</a></li>
                        <li><a href="{% url siparis %}">Siparis</a></li>
						<li><a href="{% url iletisim %}">İletisim</a></li>
				      </ul>
				      
				  {% endblock %}
			  </div>
		  </div>
      </div>
	  <div id="body">
		  {% block body-top %}
			<div id="body-top-little"></div>
			<div class="top-border-bg"></div>
			<div class="top-border"></div>
		  {% endblock %}
		  <div id="main">
		  {% block main %}
		  {% endblock %}
          </div>
	  </div>
	  <div id="footer">
		  <div class="footer_nav mr0">
		  	  <ul>
		  	  	<li><a href="#">twitter</a></li>
		  	  	<li><a href="#">facebook</a></li>
				
		  	  </ul>
		  	  
		  </div>
	  </div>
  </body>
</html>
