{% load i18n %}<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	  <title>basehtml</title>
	  <link rel="stylesheet" href="{{ STATIC_URL }}css/reset-min.css" type="text/css" />
	  <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" />
		{% block extra_head %}{% endblock %}
		    <style>
		          {% if nav %}
                  #nav_{{nav}} {
                  	color: #B0EBFF !important;
                    background-color: #051014;
                    border-bottom: 1px solid #1C2C30;
                    -webkit-border-radius: 7px;
                    -moz-border-radius: 7px;
                    border-radius: 7px;
                    padding: 8px;
                    moz-box-shadow: inset 0 0 5px 5px #05100D;
                    -webkit-box-shadow: inset 0 0 5px 5px ##05100D;
                    box-shadow: inset 0 0 4px 4px #05100D;
                  }
                  {% endif %}
		    </style>
	  <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-slider.css" type="text/css" />
	  <link rel="stylesheet" href="http://yui.yahooapis.com/2.9.0/build/slider/assets/skins/sam/slider.css" type="text/css" />
	  <script type="text/javascript" src="{{ STATIC_URL }}js/LAB.min.js"></script>
	  <script>
	  $LAB
		.setOptions({
			BasePath: "{{STATIC_URL}}js/"		
		})
		.script("http://yui.yahooapis.com/3.5.1/build/yui/yui-min.js").wait()
		.script("jquery.min.js").wait()
		.script("slides.jquery.js").wait()
	    .script("basehtml.js")
		.script("jquery-ui-1.8.22.custom.min.js");
	  </script>
  </head>
  <body>
	
	 <!-- Bismillahirrahmanirrahiym
“Allahümme ya rabbi ve cebraile ve mikaile ve israfile ve azraile ve ibrahime ve ismaile ve ishaka ve ya’kube ve münzile’l-berekati ve münzilet-Tevrati ve’z-Zeburi ve’l-İncili ve’l-Furkani ve la havle ve la kuvvete illa billahi’l aliyyi’l-aziym.La ilahe illallahü’l- Melikü’l-Hakku’l-Mübin.Muhammedün rasulullahi sadiku’l vadi’l-Emin ya rabbi ya rabbi ya hayyu ya kayyumu ya ze’l-celali ve’l-ikram.Es’elüke ya rabbe’l-Arşi’l-Aziym.En yerzükaniy rızkan halalen tayyiben birahmetike ya erhamer rahimiyn.
Yemliyha, Mernuş, Debernuş, Misliyna, Mekseliyna,
Şazenuş, Kefeştatıyyuş, Kıtmir”
  <!-->
  	  <div id="head">
	  	  <div id="head_nav">
			  <a href="{% url index %}"><div class="head-icon"></div></a>
			  <div class="logo">
				  <h3>&lt;BaseHtml&gt;</h3>
			  </div>
			  <div class="head-menu">
				  {% block head-navigation %}
				      <ul>
				      	<li><a id="nav_index" href="{% url index %}">{% trans "Ana Sayfa" %}</a></li>
				      	<li><a id="nav_about" href="{% url hakkimizda %}">{% trans "Hakkimizda" %}</a></li>
                        <li><a id="nav_order" href="{% url siparis %}">Siparis</a></li>
						<li><a id="nav_contact" href="{% url iletisim %}">İletisim</a></li>
				      </ul>
				      
				  {% endblock %}
			  </div>
		  </div>
      </div>
	  <div id="body">
		  {% block body-top %}
			<div id="body-top-little"></div>
			<div class="top-border-bg">
				<div class="bread mr0">
				{% block bread %}
				{% endblock %}
				</div>		
			</div>
			<div class="top-border"></div>
		  {% endblock %}
		  <div id="main">
		  {% block main %}
		  {% endblock %}
          </div>
	  </div>
	  <div id="footer">
		  <div class="footer_nav mr0">
		  	  <div class="footer_nav1">
				  <ul class="dro">
				  	<li>Our services</li>
				  </ul>
				  <ul class="hel">
				  	<li>Web development</li>
					<li class="bg-li"></li>
				  	<li>Web development2</li>
					<li class="bg-li"></li>
					<li>Web development3</li>
					<li class="bg-li"></li>
					<li>Web development4</li>
					<li class="bg-li"></li>
					<li>Web development5</li>
					<li class="bg-li"></li>
					<li>Web development6</li>
					<li class="bg-li"></li>
				  </ul>
			  </div>
			  <div class="footer_nav2">
				  <ul class="dro">
				  	<li>Our services</li>
				  </ul>
				  <ul class="hel">
				  	<li>Web development</li>
					<li class="bg-li"></li>
				  	<li>Web development2</li>
					<li class="bg-li"></li>
					<li>Web development3</li>
					<li class="bg-li"></li>
					<li>Web development4</li>
					<li class="bg-li"></li>
					<li>Web development5</li>
					<li class="bg-li"></li>
				  </ul>
				  
			  </div>
			  <div class="footer_nav3">
				  <ul class="dro">
				  	<li>Our services</li>
				  </ul>
				  <ul class="hel">
				  	<li>Web development</li>
					<li class="bg-li"></li>
				  	<li>Web development2</li>
					<li class="bg-li"></li>
					<li>Web development3</li>
					<li class="bg-li"></li>
					<li>Web development4</li>
					<li class="bg-li"></li>
				  </ul>
				  
			  </div>
			  <div class="footer_nav4">
				  <ul class="dro">
				  	<li>Our services</li>
				  </ul>
				  <ul class="hel">
				  	<li>Web development</li>
					<li class="bg-li"></li>
				  	<li>Web development2</li>
					<li class="bg-li"></li>
					<li>Web development3</li>
					<li class="bg-li"></li>
				  </ul>
			  <div class="map"><div class="is-here"></div></div>
			  
			  </div>
		  </div>
		  <br class="clearfloat" />
		  <div class="long-footer-brdr mr0"></div>
		  <div class="footer_social mr0"></div>
	  </div>
  </body>
</html>
