{% extends "base.html" %}
{% block main %}
    <div class="contactpg">
        <h1>fill out the form to contact us</h1>
        <div class="contact-arrow"></div>
        <div class="contact-form">
        	<form action="das" method="GET">
        		<ul>
		            <li>
		                <p class="form-comment"><label for="form_name" class="required"><em> * </em>Your name :</label></p>
		                <input class="contact-form-input" type="text" name="name" value="" id="form_name" />
		            </li>
		            <li>
		                <p class="form-comment"><label for="form_email" class="required"><em> * </em>Your email :</label></p>
		                <input class="contact-form-input" type="text" name="email" value="" id="form_email" />
		            </li>
		            <li>
		                <p class="form-textarea"><label for="form-textarea" class="required"><em> * </em>Your comment :</label></p>
		                <textarea id="form-textarea" name="textarea" rows="8" cols="40"></textarea>
		            </li>
		            <li class="form-btn-li">
		            	<button type="submit" name="contactbtn" value="send" class="contact-btn">Send&nbsp;</button>
		            </li>
		        </ul>	
        	</form>
        </div>
    </div>
{%endblock%}
