{% extends "base.html" %}
{% block main %}
    <div class="contactpg">
        <h1>contact us now or fill out the form</h1>
        <div class="contact-arrow"></div>
        <div class="contact-form">
             <ul>
                <li>
                    <p class="form-comment"><label for="form_name" class="required">Your name<em>:</em></label></p>
                    <input type="text" name="name" value="" id="form_name" />
                </li>
                <li>
                    <p class="form-comment"><label for="form_email" class="required">Your email<em>:</em></label></p>
                    <input type="text" name="email" value="" id="form_email" />
                </li>
                <li>
                    <p class="form-textarea"><label for="form-textarea" class="required">Your comment<em>:</em></label></p>
                    <textarea id="form-textarea" name="textarea" rows="8" cols="40"></textarea>
                </li>
            </ul>
            
            
        </div>
    </div>




{%endblock%}
