{% extends "base.html" %}
{% block body-top %}
	<div id="body-top"></div>
{% endblock %}
{% block main %}
    <div class="slider"><h3 style="font-size:48px;text-align:center;color:#000;"><i>SLİDER</i></h3></div>
	<div class="center-nav">
		<div class="center-nav-text">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>		
		</div>
		<div class="center-nav-button"><a href="#">See out project</a></div>
		<div class="center-nav-text">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
		</div>
	</div>
	<div class="center-up">
		<div class="pagelist">
			<div class="icona mr0"></div>
			<h3>About Us</h3>
			<div class="little-border mr0"></div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
			<div class="pagelist-button mr0"><a href="#">More about us</a></div>
		</div>
		<div class="pagelist">
			<div class="iconb mr0"></div>
			<h3>What do we do?</h3>
			<div class="little-border mr0"></div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
			<div class="pagelist-button mr0"><a href="#">See all services</a></div>
		</div>
		<div class="pagelist">
			<div class="iconc mr0"></div>
			<h3>Pricing</h3>
			<div class="little-border mr0"></div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
			<div class="pagelist-button mr0"><a href="#">See price list</a></div>
		</div>
		<br class="clearfloat" />
		<div class="long-border mr0"></div>
	</div>
	<div class="center-down">
		<div class="contact-now-left">
			<div class="rozet"></div>
			<h1>Open jobs at</h1>
			<div class="ct-click"></div>
			<div class="ct-button"><a href="#">Contact us now</a></div>		
		</div>
		<div class="contact-now-right">
			<div class="twitter-icon"></div>
			<div class="parantez"></div>			
			<div class="twitter-text">
				<p style="color:#000;">date time 8th september</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>			
			</div>
					
		</div>
	</div>
	<br class="clearfloat" />
{% endblock %}
