{% extends "base.html" %}
{% block bread %}
	<div class="bread-crumb hel">
		<a href="/">Anasayfa</a>&gt; Sıkça sorulan sorular
	</div>
{% endblock %}
{% block main %}
	<div class="dash1"><h1><a href="{% url hakkimizda %}">HAKKIMIZDA</a></h1></div>
	<div class="dash2"><h1 class="htext"><a href="{% url calisiyoruz %}">NASIL CALISIYORUZ</a></h1></div>
	<div class="dash3"><h1><a href="{% url sorular %}">S.S.S.</a></h1></div>
	<br class="clearfloat" />
	<div class="hakkimizda-detay">
		<h2>Sıkca Sorulan Sorular</h2>		

	</div>
{% endblock %}
